:root {
    --textcolor: #2b2b2b;
}

body, a, h1, h2 {
    color: var(--textcolor);
}

body {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #fdfdfd;
}

h1, h2 {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: 400;
    margin: 0.5em;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.2em;
}

header {
    background-color: #efefefef;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    padding: 1em 0;
}

header img.profile {
    height: 150px;
    border-radius: 50%;
}

main {
    padding: 0.5em;
    text-align: center;
}

header a {
    opacity: 0.7;
}
main a {
    opacity: 0.8;
}

a {
    text-decoration: none;
    transition: opacity 0.5s;
}
a:hover {
    opacity: 1;
}

p {
    line-height: 3ex;
    opacity: 0.9;
}

div.social-links {
    margin-top: 1.3em;
}
div.social-links a {
    font-size: 1.6em;
    margin: 0.25em;
}
